.cart {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 350px;
    background-color: #1B1A20;
    padding: 5% 20px;
    color: white;
    transition: 0.5s;

    &-opened {
        right: 0;
        transition: 0.5s;
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &__items {
        overflow-y: auto;
        max-height: 65%;
        padding-right: 8px;

        &::-webkit-scrollbar {
            width: 10px;
        }
          
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #202020;
        }
          
        &::-webkit-scrollbar-thumb {
            background: lighten(#1B1A20, 3%);
        }
    }

    &__fixed {
        height: 25%;
        width: 100%;
        padding: 5%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 2px 0 black;
    }

    &__checkout {
        padding: 5%;
        background-color: #0C0B10;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        margin-top: 4%;
        font-size: 18px;
        font-weight: 700;
        transition: background-color 1s;

        &:hover {
            background-color: darken(#0C0B10, 3%);
            transition: background-color 1s;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
    }

    &__subtotal {
        color: #444A58;
    }

    &__total {
        color: #EABF09;
    }

    &__close {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
}