.pagination {
    margin-top: 15px;

    &__list {
        list-style: none;
        text-align: center;        
    }

    &__item {
        display: inline-block;
        font-size: 12px;
        padding: 5px 7px;
        cursor: pointer;
        user-select: none;
        border: 1px solid white;
        transition: background-color 0.4s, border-color 0.4s;

        &-current {
            border: 1px solid $grayColorOne;
        }

        &:hover {
            background-color: $grayColorOne;
            border-color: $grayColorOne;
            transition: background-color 0.4s, border-color 0.4s;
        }
    }
}