.product {
    padding: 10px 5px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
        border: 1px solid  $grayColorOne;
    }

    &-filler {
        visibility: hidden;
        flex-grow: 1;
    }

    &__figure {
        width: 200px;
        height: 200px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__price,
    &__name {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__line {
        display: block;
        margin: auto;
        height: 2px;
        width: 30px;
        background-color: black;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}