.select {
    cursor: pointer;
    position: relative;
    font-size: 12px;

    &__text {
        user-select: none;
        margin-left: -1px;
        padding: 7px 10px;
        border: 1px solid $grayColorOne;
        width: 150px;
    }

    &__block {
        position: absolute;
        z-index: 100;
        background-color: white;
    }

    &__item {
        user-select: none;
        margin-left: -1px;
        margin-top: -1px;
        width: 150px;
        border: 1px solid $grayColorOne;
        padding: 7px 10px;

        &:hover {
            background-color: $grayColorOne;
            transition: background-color 0.3s;
        }
    }
}